########################
NODE_ENV=development
PORT=7000
HOST=0.0.0.0

BASE_URL=http://localhost:7000

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=trt_parts_db

DB_SYNC=true

DB_SSL=false

JWT_SECRET=super-secret-jwt-key-change-me
JWT_EXPIRES_IN=1d

CORS_ORIGIN=*

SWAGGER_ENABLE=true
SWAGGER_PATH=docs
SWAGGER_USER=admin
SWAGGER_PASS=change-me

SMTP_HOST=smtp.your-mail-host.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-user@example.com
SMTP_PASS=your-smtp-password

CONTACT_EMAIL=contact@trt-parts.com

